In [1]:
import pandas as pd

In [2]:
import matplotlib as plt
%matplotlib inline

In [3]:
df = pd.read_csv('CloseGap.csv')

In [4]:
df.head()

,Job Nbr,Program,CD1,5. Close Actual Start,Gap,5.91. Project Close Out Submitted to JLL PMO Actual Start
0,00063P161020,Maintenance Program,12/29/2016,12/29/2016,0.0,3/2/2017
1,00063P161083,Maintenance Program,10/19/2016,1/10/2017,83.0,1/16/2017
2,00063P153083,ATM Program,5/9/2016,5/9/2016,0.0,3/15/2017
3,00063P152059,ATM Program,4/20/2016,5/21/2016,31.0,3/27/2017
4,00063P161105,Maintenance Program,3/3/2017,3/3/2017,0.0,3/16/2017

## Overall Average of Close Days
**24 Days on average between CD1 and 5. Close Start Date.**

In [9]:
df['Gap'].mean()

24.554621848739497

### Average Days by Program

In [10]:
df.groupby('Program').mean()

                                  Gap
Program
ATM Program                 30.437500
Maintenance Program         12.821429
New Build Program            0.000000
Renovations Program         68.153846
Strategic Projects Program  10.578947

**New Build never has this issue, but ATM and Renovations appear to have more significant gaps.**

In [12]:
df2 = pd.read_csv('pm.csv')

In [14]:
data = pd.merge(df, df2, how='left', on=['Job Nbr', 'Job Nbr'])

In [15]:
data.head()

,Job Nbr,Program,CD1,5. Close Actual Start,Gap,5.91. Project Close Out Submitted to JLL PMO Actual Start,Project Manager
0,00063P161020,Maintenance Program,12/29/2016,12/29/2016,0.0,3/2/2017,Alicia Schaefer
1,00063P161083,Maintenance Program,10/19/2016,1/10/2017,83.0,1/16/2017,Paul LeMaire
2,00063P153083,ATM Program,5/9/2016,5/9/2016,0.0,3/15/2017,Joe Humbach
3,00063P152059,ATM Program,4/20/2016,5/21/2016,31.0,3/27/2017,Elaine Pizanis
4,00063P161105,Maintenance Program,3/3/2017,3/3/2017,0.0,3/16/2017,Alicia Schaefer

### Average Gap Days by Project Manager

In [38]:
new = data.groupby('Project Manager').mean()
new.head()
new = new.sort_values('Gap', ascending=False)

In [39]:
new

                         Gap
Project Manager
Jenna Van Rassel  343.000000
Jeffrey Csoka     217.000000
Jeffrey Csoka     185.000000
Lori Brown         81.142857
Adrian John        70.000000
Jeannie Radosta    50.583333
Kim Dorsey         50.000000
Paul LeMaire       47.631579
Lauren Gordon      41.400000
Donald Howard      33.000000
Donald Howard      33.000000
Joe Humbach        22.218750
Andrew Cozier      16.666667
Kelli Karr         14.333333
James Dyer         13.583333
Elaine Pizanis     10.760000
Brian Kleinsmith    5.333333
Heather Tovar       3.772727
Michael Welsh       0.000000
Alicia Schaefer    -0.050000
Ruth Newell              NaN